*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

.npm
/storage/app/public/arsip/*.pdf

# WhatsApp Web JS Cache
.wwebjs_auth/
.wwebjs_cache/

# User Uploaded KTP & Arsip
/storage/app/public/ktp/
/storage/app/public/arsip/

# Postman Exports
/storage/app/private/postman/
